/otros
/hilos
/matrices/notas.txt
/matrices/matrices.txt

/sehernandezce-lumendezm/src/video_reduccion_paralelo
/sehernandezce-lumendezm/src/video_reduccion_secuencial

*/build
*.exe
*.o
*.bin
*.run
*.out
# *.txt
# *.sh