/otros
/hilos
/matrices/notas.txt
/matrices/matrices.txt

*/video_reduccion_paralelo
*/video_reduccion_secuencial
*/media/inputVideo.*
*/media/outputVideo.*

*/build
*.exe
*.o
*.bin
*.run
*.out
# *.txt
# *.sh

